<!DOCTYPE html>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JSON</title>
</head>
<body>
    <div class="container">
    <h1>JSON</h1>
        <p>Если вдруг Вам захотелось ещё раз взглянуть на анкету или
            заполнить её за кого-нибудь из своих знакомых:
        <a href="{{ url_for('form') }}"> обратно к форме</a></p>
        <p>Все доступные данные в формате json:</p>
    <pre>{{ json }}</pre>
    </div>
</body>
</html>